html {
	font-size: 15px;
}

.bienvenidos{
	background: url("../images/deer.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	overflow: hidden;
}

#carousels {
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}

.carousel-inner img{
    object-fit: cover;
    width: 100%;
    object-position: center;
    height: 100vh;
}

.text-bienvenido {
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0, 0.70);
    margin-top: 14rem;
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    position: absolute;
    z-index: 1;
}

.btn-primary{
    color: #fff;
    background-color: #87de5b;
    border-color: #85dc58;
    text-shadow: none;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:active{
    color: #fff;
    background-color: #87de5b;
    border-color: #6eb749;
    text-shadow: none;
    outline: none;
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    box-shadow: 0 0 0 2px rgba(68, 157, 68, 0.6);
    color: #fff;
}

.btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    box-shadow: 0 0 0 2px rgba(214, 59, 12, 0.70);
    color: #3F3F3F;
}

.quienes-somos{
	background: #F05F40;
	color:white;
}

.btn-secondary{
	text-transform: uppercase;
}

.servicios .fa {
    color: #87de5b;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.8);
	font-size: 8rem;
}

.servicios h3{
	font-weight: bold;
}

.portafolio {
	background: #424141;
	color: #fff;
}

.portafolio img{
	transition-duration: .6s;
}

.portafolio a{
	display: block;
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.portafolio a:hover img{
	transform: scale(1.5);
}

footer{
	color: #fff;
	background: #242424;
}


@media (max-width: 578px) {
	.container{
		width: 100%;
	}
}